:root {
  --main-bg-color: #20232a;
  --main-pr-color: #61dafb;
  --main-bg-gray: #f2f2f2;

  --content-text-color: #282c34;
  --content-size: 800px;
  --content-size-sm: 500px;
  --sidebar-size: 400px;

  --content-font-size-small: 12px;
  --content-font-size-middle: 16px;
  --content-font-size-big: 24px;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

a:not(.link) {
  background-color: rgba(187, 239, 253, 0.3);
  border-bottom: 1px solid rgba(39, 36, 36, 0.2);
  color: #1a1a1a;
}

* > code {
  padding: 0 3px;
  font-size: 0.94em;
  word-break: break-word;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
}

pre {
  padding: 1rem;
}

img {
  width: 100%;
}

h1 {
  margin: 0.67em 0;
  color: #282c34;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  color: #6d6d6d;
}

p {
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.7;
  max-width: 42em;
}

h3 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

pre > code,
pre {
  background: rgb(40, 44, 52);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: auto;
  tab-size: 1.5em;
  font-size: 1rem;
}

blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left-color: #ffe564;
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

.title {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.title > h1 {
  font-size: 2rem;
  padding: 0px;
  margin: 0px;
}
.title > h1 > a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--main-pr-color);
}

.title:hover {
  color: white;
}

.main {
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.layout {
  width: 100%;
  min-height: 100vh;
}

.nav_bar {
  position: fixed;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
  z-index: 999;
}

.nav_bar > .title {
  margin: 0 auto;
}

.side_bar {
  min-height: 100vh;
  min-width: var(--sidebar-size);
  background-color: var(--main-bg-gray);
  position: fixed;
  left: 0;
}

.side_bar > ul {
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: var(--content-text-color);
  font-size: var(--content-font-size-middle);
  line-height: 30px;
}

.activated {
  font-weight: bold;
}

.activated::before {
  content: "";
  width: 4px;
  height: 24px;
  border-right: 4px solid var(--main-pr-color);
  padding-left: 16px;
  position: absolute;
  left: 0;
}

.box-container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head {
  padding: 1rem 0.3rem;
  display: flex;
  background-color: var(--main-bg-color);
  color: var(--main-pr-color);
  font-size: var(--content-font-size-big);
  font-weight: bold;
}

.head > .name {
  flex: 1;
  padding: 0 1rem;
}

.body {
  display: flex;
  background-color: var(--main-bg-gray);
  font-size: var(--content-font-size-middle);
}

.body > .value {
  padding: 1rem 1rem;
  flex: 1;
}

.btn {
  border: none;
  color: var(--content-text-color);
  padding: 0.6rem 0.8rem;
  display: inline-block;
  font-size: 16px;
  background-color: rgb(97, 218, 251);
  padding: 10px 25px;
  white-space: nowrap;
  transition: background-color 0.2s ease-out 0s;
  cursor: pointer;
}

.change {
  margin-top: 1rem;
}

.content {
  flex-wrap: wrap;
  word-break: break-all;
  width: var(--content-size);
  min-width: var(--content-size);
  margin: 0 auto;
  padding: 1rem;
  overflow-y: auto;
}

.suspense_block {
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: -30px;
  margin-right: -30px;
}

.warn {
  background-color: rgba(255, 229, 100, 0.3);
  border-left-color: #ffe564;
}
.success {
  background-color: rgba(187, 239, 253, 0.3);
  border-left-color: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 1600px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .side_bar {
    position: relative;
    width: 100%;
    min-height: 0;
    height: auto;
    background-color: var(--main-bg-gray);
    overflow-y: auto;
  }

  .content {
    min-width: 80%;
    min-width: 0;
    min-height: 80vh;
    margin: 0 auto;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }

  .post_title {
    margin: 0.67em 0;
    color: #282c34;
    margin-bottom: 0;
    font-size: 3em;
    font-weight: 700;
  }

  .post_subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #6d6d6d;
  }

  .box-container {
    width: 100%;
  }
}
